<template name="favorites">
    <h2>Favorites</h2>

    <div class="grid grid--no-gutter item-list">
        <!-- TODO: Add some Sorting and Filter shit -->
        <table class="favorite_table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
                <th>Oneclick Installer</th>
            </tr>
            </thead>
            <tbody>
            {{#each favorites}}
                <tr>
                    <td><a class="link" href="/package/{{slug}}">{{{name}}}</a></td>
                    <td> {{>userButtons }}</td>
                    <td>
                        <div class="ui checkbox addToPackageList">
                            <input class="packageCheck" type="checkbox"
                                   value="{{name}}" data-bind="checked: selectedPackages">
                            <label>Add to Oneclick Installer</label>
                        </div>

                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>


        <div class="ui form spacer-6">
            <div class="two fields">
                <div class="field">
                    <label>One click package installer</label>
                    <ul class="package_list">
                        {{#each selectedPackages}}
                            {{>selectedPackageList}}
                        {{/each}}
                    </ul>
                    <div class="ui button spacer-1">
                        Copy to Clipboard
                    </div>
                </div>

                <div class="field">
                    <label>Save Collections</label>

                    <div class="ui action input">


                        <input placeholder="Collection Name" type="text">
                        <button data-bind="click: generateList" class="ui right button purple">
                            Save Collection
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<template name="selectedPackageList">

    <li class="single_package hint--top pointer" data-hint="Click to remove" data-bind="text: name, click:remove">
    </li>
</template>