@import 'normalize';
@import 'base/variables';
@import 'components/helper';
@import 'vendor/grid';
@import 'components/categories';
@import 'components/header';
@import 'components/footer';
@import 'components/dropdown';
@import 'components/admin';
@import 'components/menu';
@import 'components/category';
@import 'components/buttons';
@import 'components/search';
@import 'components/favorites';
@import 'base/typo';
@import 'vendor/hint';
@import 'components/markdown';
@import 'components/singlepackage';
@import 'components/loader';
@import 'components/widget';
@import 'components/table';


//


* {
  box-sizing: border-box;
}

body {

  font-family: 'Lato', sans-serif;
}

#wrap {
  margin-top: 60px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }


}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1270px
  }
}

