<template name="categories">
    <p>We currently have <strong>{{packageCounter}} </strong> handpicked packages</p>
    <div class="grid grid--no-gutter cat-list">
        {{#each categories}}
            <div class="grid__col grid__col--1-of-3 item">
                <a class="item-link" href="/category/{{slug}}">
                    <div class="cat-inner">
                        <span class="ui circular label purple2">{{packageCount}}</span>
                        <h2 class="cat-title">{{name}}</h2>
                        <p>
                            {{description}}
                        </p>
                        {{>subCategories}}
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</template>

<template name="subCategories">
    <p class="subcategories">
        {{#each subCategories _id}}
            <span class="subcategory">
          <a href="category/{{../slug}}/{{slug}}">{{name}}</a>
         </span>
        {{/each}}
    </p>
</template>