<template name="packageList">
    <div class="grid grid--no-gutter item-list">
        {{#with getCategoryInfo}}
            <div id="category-title" class="title-inner">
                <span class="package_count ui label">Showing <strong>{{showingItems}}</strong>
                    of <strong>{{packageCount}}</strong> Packages
                </span>

                <h3>{{name}}</h3>

                <p class="category-desc">{{description}}</p>
            </div>
        {{/with}}

        <!-- ITEM -->
        <div class="grid__col grid__col--12-of-12 each-animated">
            {{#each packages}}

                <a class="package-link" href="/package/{{slug}}">
                <div class="item-inner">
                    <div class="package-title">
                        <h4 id="{{_id}}"><a href="/package/{{slug}}">{{name}}</a></h4>
                        <span class="package-version">{{details.version}}</span>
                    </div>
                    <div class="meta">
                        <span class="meteor-package-add alt">add meteor {{name}}</span>
                        {{>copyButton}}
                    </div>
                    <p>{{description}}</p>
                </div>
                </a>
            {{/each}}
        </div>
    </div>

    <div class="text-center">
        {{>loadMore}}
        <p>{{showingItems}} of {{getCategoryInfo.packageCount}} Packages</p>
    </div>

</template>

<template name="loadMore">
    {{#with loadMore}}
        <button class="btn btn-submit load_more {{disable}}" {{disable}}>{{buttonText}}</button>
    {{/with}}
</template>