<template name="singlePackage">
    <div class="grid">
        <div class="grid__col grid__col--4-of-5">

            <div class="item-inner single-item">
                {{#with package}}
                    <h2 class="package-title">{{name}}</h2>
                    {{>inlineAdminActions}}
                    <p>{{description}}</p>
                    <div class="package_meta">
                        <!-- Show this only when loggedin -->
                        <div class="meta meteor-package-add">
                            add meteor {{name}}   {{>copyButton}}
                        </div>
                        <!-- TODO: Dont show the whole text -->
                        <div id="markdown-wrap">

                            {{{details.readme}}}

                        </div>
                    </div>
                {{/with}}
            </div>
        </div>

        <div class="grid__col grid__col--1-of-5">
            {{#with package}}
                <aside id="sidebar">
                    <div class="widget user_actions">
                        {{>userButtons}}
                    </div>
                    {{>authorWidget}}

                </aside>
            {{/with }}
        </div>
    </div>
</template>


