<template name="authorWidget">
    <div class="widget">
        <h4 class="widget_title">more by <br> <i class="ion-person"></i> <strong>{{details.author}}</strong> </h4>
        <div class="widget_content">
            <ul>
                {{#each getPackageByAuthor details.author}}
                    <li>
                        <a href="/package/{{slug}}">{{pureName}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>