<template name="userButtons">


            {{#if isFavoritedByUser}}
                <span class="fav user_action">
           <div class="ui label white">
               <i class="ion-android-star-outline icon-small gold"></i> {{counts.favCount}}
           </div>
            </span>
            {{else}}
                <span class="fav user_action">
           <div class="ui label white">
               <i class="ion-android-star-outline icon-small"></i> {{counts.favCount}}
           </div>
            </span>
            {{/if}}
            <span class="flag user_action icon-small">
            <div class="ui label white">
                <i class="ion-flag"></i>
            </div>
     </span>


</template>