<template name="addPackage">

    {{#if packageSubmitError}}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">
               {{packageSubmitError}}
            </div>
        </div>
    {{/if}}

    {{#autoForm schema=packageFormSchema id="packageForm" class="ui form" method="post" type="method" meteormethod="addPackage"}}
            {{> afQuickField value="msavin:mongol" name="name" }}
            {{> afQuickField name="category" options=selectCategory search=true}}
            <button type="submit" class="ui primary button">Add Package</button>
    {{/autoForm}}


</template>