


<template name="copyButton">
    <span id="{{_id}}" alt="Copy to Clipboard" data-zclip-text="{{prepareForCopy name}}"  class="fast_copy"> <i
            class="copy-to-clipboard ion-android-clipboard"></i> </span>
</template>