<template name="searchBar">
    <div class="search_bar">
        <div class="search_button">
            <a class="search_trigger" href="/search">
                <i class="ion-search icon-size"></i>
            </a>
        </div>
        <div class="bar">
            <input type="text" class="gpu-hack" placeholder="type to search" id="search_string">
        </div>
    </div>

</template>


<template name="searchResults">
    Search Results
    {{#if isLoading}}
        Loading..
    {{/if}}
    <div class="grid grid--no-gutter item-list">
        <div class="grid__col grid__col--12-of-12 each-animated">
            {{#each getPackages}}
                <a class="package-link" href="/package/{{slug}}">
                    <div class="item-inner">
                        <div class="package-title">
                            <h4 id="{{_id}}"><a href="/package/{{slug}}">{{{name}}}</a></h4>
                            <span class="package-version">{{details.version}}</span>
                        </div>
                        <div class="meta">
                            <span class="meteor-package-add alt">add meteor {{{name}}}</span>

                        </div>
                        <p>{{{description}}}</p>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</template>