<template name="footer">
    <footer id="footer">
        <div class="container">
            <div class="grid grid--no-gutter item-list">
                <!-- WIDGET -->
                <div class="grid__col grid__col--1-of-3">
                    <div class="footer-widget">
                        <h3>Categories</h3>
                        <ul>
                            {{#each footerCategories }}
                                <li><a href="/category/{{slug}}">{{name}}</a>
                                    <span class="ui circular label white">{{this.packageCount}}</span>
                                </li>
                            {{/each}}
                        </ul>

                    </div>
                </div>

                <div class="grid__col grid__col--1-of-3">
                    <div class="footer-widget">
                        <h3>Packages <span class="packages-count">{{packageCounter}}</span></h3>
                        <button class="btn btn-submit" style="margin-top:10px;">Submit Package</button>
                    </div>
                </div>

                <div class="grid__col grid__col--1-of-3">
                    <div class="footer-widget">
                        <h3>Credits</h3>
                        <ul>
                            <li><a target="_blank" href="https://www.meteor.com">Meteor</a></li>
                            <li><a target="_blank" href="https://ionicons.com/">Ionicons</a></li>
                            <li><a target="_blank" href="https://unsplash.com/">Unsplash</a></li>
                        </ul>
                    </div>
                </div>

                <!-- /widget -->
            </div>
        </div>


        <a class="back_top" href="#"> <i class="ion-chevron-up"></i></a>


        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'XXXX', 'auto');
            ga('send', 'pageview');
        </script>

    </footer>
</template>