<template name="mainAdmin">
    <div class="grid">
        <div class="grid__col grid__col--6-of-12">
            <div class="admin_category_management">
                {{#each categories}}
                    <div class="main_category" data-cat="{{_id}}">{{name}}
                        <div class="right">
                            <div class="addSubCategory button">
                                <i class="ion-plus-round"></i></div>
                        </div>
                    </div>
                    {{#if hasSubCategory _id}}
                        {{#each subCategories _id}}
                            <div class="sub_category">{{name}}

                            <div class="right">

                              <div class="removeSubCategory button">

                                <i class="ion-ios-trash-outline"></i>
                              </div>

                            </div>
                            </div>
                        {{/each}}


                        {{else}}
                        nope
                    {{/if}}
                {{/each}}

            </div>
        </div>


        <div class="grid__col grid__col--5-of-12">

        </div>
    </div>


</template>


<template name="addCategory">
    {{> quickForm collection="Categories" id="categoryInsert"  template="semanticUI" type="insert"}}
</template>


<template name="addSubCategory">
    {{#autoForm collection="SubCategories" schema=SubCategoryFormSchema id="packageForm"  method="post" type="insert"}}
        {{> afQuickField value="msavin:mongol" name="name" }}
        {{> afQuickField name="parentId" options=selectCategory search=true}}
        <button type="submit" class="ui primary button">Add Subcategory</button>
    {{/autoForm}}

</template>