.admin_actions {
  float: right;
  @include clearfix;
  .admin_action {
    margin-left: 20px;
    &:first-child {
      margin-left: 0px;
    }
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: red;
    }
  }
}

// ------------------------------ Category management ------------------------------ //

.admin_category_management {
  i {

    font-size: 22px;
  }

  .right {
    float: right;
  }

  .main_category {
    background: $main-color;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    font-size: 18px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;

    &:hover {

      background: lighten($main-color, 20%);
    }
  }

  .sub_category {
    transition: all 0.5s;
    font-size: 16px;
    background: #EBF0F6;
    padding: 10px 10px 10px 60px;
    border-bottom: 1px solid lighten($main-color, 40%);
  }

}