.btn {
  background: $main-color;
  color: #fff;
  border: none;
  //  border-color: $main-color;
  text-transform: uppercase;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1.0em;
  font-weight: 700;
  box-shadow: none;
  transition: background 0.5s;
  outline:none;

  &.disabled {
    background:$main-color;
    background:rgba(96, 100, 173, 0.3);
  }

  &:hover {

    &.disabled {


      background:$main-color;
      background:rgba(96, 100, 173, 0.3);
    }

    background: darken($main-color, 20%);
  }

  &:focus {

    outline:none;
  }

}
.btn-submit {
  margin-top: 60px;
}


//end user_actions

.copy-to-clipboard {
  cursor: pointer;
  font-size: 16px;
  color: $main-color;
  margin-left: 5px;

}