
.item-inner {
  padding: 40px 0px;
  transition: all 0.5s;

  &:first-child {
    margin-top: 0;
  }
  .fast_copy {
    cursor: pointer;

    &:hover {
      color: $main-color;
    }
  }

  h4 {
    margin: 0;
    display: inline-block;
  }

  h4 {
    a {
      font-weight: 300;
      color: $main-color;
      &:hover {

        font-weight: 400;
      }
    }
  }

  p, a {
    color: #737e90;
    transition: color 0.5s;
  }

  a {
    transition: color 0.2s;
    &:hover {
      color: $main-color
    }
  }

  .meteor-package-add {
    font-size: 14px;
    background: $main-color;
    color: white;

    display: inline-block;
    ///border: 1px solid $main-color;
    padding: 10px;

    .copy-to-clipboard {

      color: white;
    }

    &.alt {
      color: $main-color;
      background: none;
      padding: 0;
    }
  }
  .meta {
    margin: 5px 0px;
    span {
      //margin-left: 20px;

      &:first-of-type {
        padding-top: 0px;
      }
    }
    i {
      transition: color 0.5s;
    }
    i:hover {
      color: $main-color;
    }
  }

}

.package-link {
  padding: 0em 2em;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  display: block;
  border-bottom: 1px solid lighten($main-color, 30%);
  font-weight: inherit;
  &:hover {
    background: #EBF0F6;
  }

}

