.cat-list {
  .item {
    .cat-inner {
      position: relative;
      padding: 2em;
      //Typo
      .cat-title {
        color: $main-color;
        font-weight: 300;
        text-transform: uppercase;
      }

      // ------------------------------ SubCategories ------------------------------ //
      .subcategories {
        max-width: 100%;
        font-weight: 400;

        .subcategory {

          &:after {
            content: ' - ';
          }
          a {
            font-weight: 400;
            white-space: nowrap;
            &:hover {
              text-decoration: underline;
            }

          }

          &:last-child {
            &:after {
              content: '';
            }
          }

        }

      }

    }
    .item-link {
      min-width: 100%;
      text-decoration: none;
      display: inline-block;
      transition: background 0.5s;
      min-height: 255px;
      p {
        color: #737e90;

      }
      &:hover {
        background: #EBF0F6;
      }
    }
  }
}
