/* =DROPDOWNS
--------------------------------------------- */
$border-radius: 0px;
$accent: #C0392B;
$text-color: #222;
$grey-dark: #999;
$grey-light: #eee;

@import "mixins";




.dropdown-container {
  position: relative;
}

.dropdown {
  $border: #dadada;

  border-radius: $border-radius;

  background-color: #fff;
 // padding: 1rem;
  z-index: 1001;
  min-width: 150px;
  // For opening transition
  transform-origin: center top;


  // Notch down a bit for space for arrow
  top: 120%;

  &.dropdown--tight {
    padding: 0;
    border: 0;
  }

  &[data-dropdown-align="right"] {
    text-align: right;

    // Arrow
    .dropdown__arrow {
      right: 1rem;
      left: auto;
    }
  }

  &[data-dropdown-align="left"] {
    text-align: left;

    // Arrow
    .dropdown__arrow {
      left: 4px;
    }
  }

  p {
    margin: 0;
  }

  .dropdown__scroller {
    overflow-y: scroll;
    max-height: 71vh;
  }

  .dropdown__show-more {
    color: #555;
    font-size: to_rem(12);
    font-weight: 500;

    &:hover,
    &:hover .icon {
      color: $accent;
    }

    &:hover .icon {
      transform: scale(1.2);
    }

    .icon {
      color: #999;
      position: relative;
      top: 2px;
      transition: transform .2s ease-out;
    }
  }

  &.dropdown--menu {
    padding: 3px 0;
    font-size: .9rem;

    .no-content {
      font-size: .9rem;
      margin: .5rem;
      text-align: center;
      color: #888;
    }
  }

  .dropdown__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    [role="menuItem"] {
      width: 100%;

      &.dropdown__separator {
        border-top: 1px solid #f0f0f0;
        padding-top: .5em;
        margin-top: .6em;
      }

      &.selected {
        a,
        a:hover,
        a:active,
        a:focus {
          color: $grey-dark;
          cursor: default;
          background: none;
        }

        .icon {
          position: absolute;
          right: .5rem;
          top: .5rem;
          font-size: .9em;
        }
      }

      a {
        @include truncate;
        display: block;
        padding: 15px;
        position: relative;
        color: lighten($text-color, 10%);

        &:hover,
        &:focus {
          text-decoration: none;
          color: $accent;
          outline: 0;
          background-color:whitesmoke;
        }

        &:active {
          background-color: rgba($grey-light, .7);
        }
      }
    }
  }

  input[type="search"].dropdown__filter {
    width: 100%;
    margin: 0;
    border: 0;
    box-shadow: none;
    padding: 6px 6px 8px;
    border-bottom: 1px solid darken($grey-light, 2%);
    border-radius: 0;

    &:focus {
      outline: 0;
    }
  }

  .dropdown__arrow {
    $size: 6px;

    left: calc(50% - #{$size});
    top: -$size;
    position: absolute;
    @include arrow($size: $size, $color: $border, $equilateral: false);
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      @include arrow($size: $size+1px, $color: #fff, $equilateral: false);
      left: calc(50% - #{$size+1px});
      top: 1px;
      z-index: 9;
    }
  }
}

.dropdown__trigger {
  color: $text-color;
  font-weight: 500;

  &:hover {
    text-decoration: none;

    [class*="icon-arrow"] {
      fill: $accent;
    }
  }

  [class*="icon-arrow"] {
    margin-left: .2rem;
    position: relative;
    top: 3px;
    transition: transform .3s ease-out,
    fill .2s ease-out;
  }
}