.package_list {

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 18px;
    padding: 10px;
    color: white;
    background: $main-color;
    margin-top: 3px;
    &:first-child {
      margin-top: 0px;
    }
  }
}

.purple {
  outline: none;
  background: $main-color !important;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.remove_from_package_list {
  float: right;
}