#footer {
  background: #EBF0F6;
  padding: 30px 0;

  margin-top: 60px;
  .footer-widget {
    padding: 2em;

    h3 {
      font-weight: 400;
      color: #333333;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin: 10px 0px 0px 0px;
        &:first-child {
          margin-top: 0px;
        }
        a {
          color: #737e90;
          text-decoration: none;
          transition: color 0.5s;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  #copyright {
    color: darken(whitesmoke, 30%);
    padding-right: 2em;
  }

  .packages-count {
    display: inline-block;
    font-size: 37px;
    font-weight: 700;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    background: $main-color;
    padding: 10px;

    font-weight: 400;
  }

  .back_top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;

    border-radius: 2px;
    padding: 15px;
    background: $main-color;

    i {
      color: white
    }
  }

}