#header {
  background: url("/assets/images/header.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  background-position-y: 70%;
  position: relative;
  z-index: 1;
  padding: 120px 0;
  #logo {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);


    a {
      font-weight: 400;
      text-decoration: none;
      color: white;
      font-size: $h1-font-size;
    }
  }

  #slogan {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
    line-height: $base-line-height;
    color:white;
  }


  .header-inner {
    //padding: 2em;
  }

}

#nprogress .bar {
  height: 5px;
  background: $main-color
}








.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

