.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a {

  text-decoration: none;
}

.purple2 {
  position: absolute;
  right: 2em;
  top: 2em;
  background-color: lighten($main-color, 20%) !important;
  border-color: lighten($main-color, 20%) !important;
  color: white !important;

  &.normal {
    position: static;
  }
}

.white-tool:after {
  color: white !important;
  tex-shadow: none;
}

@media (max-width: 480px) {
  .title-inner, .header-inner {
    padding: 2em;
  }

  #search_string.active_search {
    width: 225px;
  }

}

.icon-style1 {
  color: black;
  font-size: 24px;
}

.icon-size {
  font-size: 32px;
}

.gpu-hack {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  /* or */
  -webkit-transform: translateZ(0);
}

.item-inner.hidden {
  opacity: 0;
}

.item-inner {
  opacity: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.icon-small, .icon-small i {

  font-size: 22px;
}

img {
  max-width: 100%
}

.white {
  background: white !important;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.gold {
  color: gold !important;
}

pre {
  background: white;
  padding: 15px;
}

.button {
  cursor: pointer;
}

.spacer-1 {
  margin-top: 10px !important;
}

.spacer-6 {
  margin-top: 60px;
}

.pointer { cursor:pointer; }