#markdown-wrap {

  h1, h2, h3, h4, h5, h6 {

    font-weight: 300;
  }
  a {
    color: $main-color;
    font-weight: 700;
    &:hover {
      text-decoration: underline;

    }
  }

  blockquote {
    background: white;
    padding: 10px;
    /* margin: 0px; */
    margin-right: 0px;
    border-left: 2px solid $main-color;
    position: relative;
    z-index: 9;
    &:after {

      font-family: Ionicons;
      position: absolute;
      content: '\f347';
      color: $main-color;
      font-size: 70px;
      opacity: 0.1;
      top: 5px;
      right: 10px;
      z-index: -1;

    }
  }

  ul {

    li {

      margin: 5px 0px;

      &:first-child {

        margin: 0px;
      }
    }
  }
  pre {
   background:#EBF0F6!important;
  }
}