
#navigation {
   padding:10px 0px;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 20;
  top: 0px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

#menu {

  float: right;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .menu-item {
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $base-font-size;
        color: $main-color;
        transition: color 0.5s;
        &:hover {

          color: lighten($main-color, 10%);
        }
      }
      display: inline-block;
      margin-left: 30px;
    }
  }
}

#menu ul li:first-child {
  margin-left: 0px;
}


