
.search_bar {
  position: absolute;
  padding: 15px 20px;
  bottom: 0;
  background: white;

  .bar {
    font-size: 20px;
    //  background: whitesmoke;
    color: #333333;

  }
  > * {
    display: inline-block;

  }
}

.search_trigger {
  display: block;
  background: white;
  text-align: center;
  margin-left: 10px;
  i {
    color: $main-color;
    font-size: 20px;
  }
}

#search_string {

  border: none;
  width: 0px;
  transition: all 0.2s;
  padding-left: 10px;
  &:focus {
    outline: none;
  }
  &.active_search {

    width: 300px;

  }
}

#search-results {

  list-style-type: none;
  padding: 0;
  li {
    border-bottom: 1px solid whitesmoke;

    // padding: 25px 0px;

    .cat-name {
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -ms-transition: color 0.5s;
      -o-transition: color 0.5s;
      transition: color 0.5s;
      margin-left: 5px;
    }

    .meta-link:hover .cat-name {

      color: $main-color;
    }

    .search-meta {

      margin-left: 15px;

      &:first-child {
        margin-left: 0px;
      }

      .meta-link {

        color: #282828;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s;
        &:hover {
          color: $main-color;
        }

      }
      &:last-child {
        border-bottom: none;

      }
    }

    h4 {

      margin: 0px;
      a {
        font-weight: 300;
        color: $main-color;

        &:hover {
          font-weight: normal;

        }
      }
    }

  }

}