table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  color: rgba(0,0,0,.8);
  border-collapse: separate;
  border-spacing: 0;

  thead {

    th {
      border-left: 1px solid #d4d4d5;
      cursor: auto;
      background: #f0f0f0;
      text-align: left;
      color: rgba(0,0,0,.8);
      padding: .7em .8em;
      vertical-align: middle;
      font-style: none;
      font-weight: 700;
      text-transform: none;
      border-bottom: 1px solid #d4d4d5;
      border-left: none;
    }
  }

tr, td {
  border-top: 1px solid #d4d4d5;

}

  tr {
    &:first-child { border:none}
  }
  td {
    border-left: 1px solid #d4d4d5;
    padding: .7em .8em;
    text-align: left;
    vertical-align: middle;

    &:first-child { border-left:none;}
  }
}