#sidebar {
  .widget {
    margin-top: 15px;
    .widget_title {
      margin: 0;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 16px;
    }

    padding: 1.75em 2em;
    background: #EBF0F6;

    .widget_content {
      ul {
        padding: 0;
        list-style-type: none;
        li {

          a {
            color: $main-color;
            &:hover {
              text-decoration: underline;
            }
          }

        }
      }

    }

  }
}

// ------------------------------ User Actions ------------------------------ //
.user_actions {
  background: $main-color;
  background: #EBF0F6;
  .user_action {
    // display: block;
    cursor: pointer;
    i {
      transition: color 0.5s;
      margin-right: 5px;

    }
    &.fav {
      i {
        color: grey;
        &:hover {
          color: gold;
        }
      }
    }
    &.flag {
      i {
        //font-size: 18px;
        color: grey;
        &:hover {
          color: red;
        }
      }
    }
  }
}
