<template name="inlineAdminActions">
    {{#if isInRole 'admin'}}
        <div class="admin_actions">
            <i class="ion-ios-refresh-outline admin_action updatePackage icon-size"></i>
            <i class="ion-ios-close-outline admin_action deletePackage icon-size"></i>
        </div>
    {{/if}}
</template>