<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="pdzbLqX-FXwYQHfRKpXOq2h6pNT6-ugWRQc5JH6p0Uc" />
</head>

<template name="main">
<div id="navigation">
    <div class="container">
        <nav id="menu">
            <ul>
                {{#if isLoggedIn }}
                    <li class="menu-item">
                        <a class="hint--bottom" data-hint="Favorites" href="/favorites"> <i
                                class="ion-android-favorite icon-size"></i></a>
                    </li>
                {{/if}}
                <li class="menu-item">
                    {{#if isLoggedIn }}
                        <a class="hint--bottom" data-hint="Logout" href="/sign-out"> <i
                                class="ion-log-out icon-size"></i></a>
                    {{else}}
                        <a class="hint--bottom" data-hint="Register / Login" href="/sign-in"> <i
                                class="ion-log-in icon-size"></i></a>
                    {{/if}}
                </li>
            </ul>
        </nav>
    </div>
</div>
    {{> header }}
    <div id="wrap">
        <div class="container">
            {{> updateInfo}}
            {{> yield}}
        </div>
    </div>
    {{> footer }}
</template>