<template name="updateInfo">

    {{#if isUpdating}}

        <div class="ui info message">
            <div class="header">
               Update in Progress -  {{lastUpdatePackage.package}}
            </div>
        </div>

    {{/if}}
</template>