<template name="header">
    <header id="header">
        <div class="container" style="position:relative">
            <div id="logo">
                <a href="/" class="site-title">
                  <i class="ion-ionic rotating"></i> Orbit
                </a>
                <p id="slogan"><strong>Top Meteor Packages</strong></p>
            </div>
            </div>
        <div class="container">
            {{>searchBar}}
        </div>
    </header>
</template>