h1 {
  font-size: $h1-font-size;
  color: $main-color;
}

h2 {
  font-size: $h2-font-size;

}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $header-line-height;
  color: $main-color;

}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $p-color;
}

a {
  color: $main-color;
  font-weight: 700;

}


a.link {

  &:hover {

    text-decoration: underline;
  }
}